<% include partials/academicstaff_header %>
<nav class="navbar bg-red">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class = "text-white" href="/">Home</a></li>
      <li class = "dropdown active">
        <a href="#" class = "text-red dropdown-toggle" data-toggle="dropdown">Modules<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/academicstaff/allmodules">All</a></li>
            <li><a href="#">Assessed</a></li>
            <li><a href="#">Taught</a></li>
          </ul>
      </li>
      <li><a class = "text-white" href="/academicstaff/coursework">Coursework</a></li>
      <li><a class = "text-white" href="/academicstaff/exams">Exams</a></li>

    </ul>
    <div class="nav navbar-nav navbar-right">
      <a href="/logout" class="navbar-brand text-white"><strong>Logout</strong></a>
    </div>
  </div>
</nav>
<div class="container">
	<h1>All Modules</h1>

     <table class="table table-striped">
      <thead>
         <tr>
            <th>Module Code</th>
            <th>Module Name</th>
            <th>Teaching Staff</th>
            <th>Assessors</th>
         </tr>
      </thead>
      <tbody>
         <% rows.forEach(function(row){ %>
         <tr>
            <td> <%= row.ModuleCode %> </td>
            <td> <%= row.ModuleName %> </td> 

            <td>
            <% row.TeachingStaff.forEach(function(staffMember){ %> 
            <%= staffMember['FirstName'] %>, <%= staffMember['LastName'] %> <br>
            <%});%>
            </td>

            <td>
            <% row.AssessingStaff.forEach(function(staffMember){ %> 
            <%= staffMember['FirstName'] %>, <%= staffMember['LastName'] %> <br>
            <%});%>
            </td>
         </tr>
         <% });%>
      </tbody>
   </table>
</div>
<% include partials/footer %>