<% include partials/academicstaff_header %>
<div class="container">
	<h1>Modules assessed by <b> <%= modulesAssessed[0]['FirstName']%>, <%= modulesAssessed[0]['LastName']%> </b></h1>

     <table class="table table-striped table-hover table-staff table-bordered">
      <thead>
         <tr>
            <th>Module Code</th>
            <th>Module Name</th>
            <th>Credits</th>
         </tr>
      </thead>
      <tbody>
         <% modulesAssessed.forEach(function(module){ %>
         <tr>
            <td> <%= module['ModuleCode'] %> </td>
            <td> <%= module['ModuleName'] %> </td> 
            <td> <%= module['NumberOfCredits'] %> </td> 
         </tr>
         <% });%>
      </tbody>
   </table>
</div>
<% include partials/footer %>