<% include partials/academicstaff_header %>
<nav class="navbar bg-red">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a class = "text-red" href="/">Home</a></li>
      <li><a class = "text-white" href="/academicstaff/modules">Modules</a></li>
      <li><a class = "text-white" href="/academicstaff/coursework">Coursework</a></li>
      <li><a class = "text-white" href="/academicstaff/exams">Exams</a></li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      <a href="/logout" class="navbar-brand text-white"><strong>Logout</strong></a>
    </div>
  </div>
</nav>
<div class="container">
	<h1>Personal Details </h1>
	<p>Username: <%= academicstaff['Username']%></p>
	<p>First name: <%= academicstaff['FirstName']%></p>
	<p>Last name: <%= academicstaff['LastName']%></p>
	<p>Email: <%= academicstaff['Email']%></p>
	<h2>Personal tutees</h2>
	<% personal_tutees.forEach(function(tutee) { %>
	<p> <%= tutee['FirstName']%> <%= tutee['LastName']%> </p>
	<% }); %>
	<h2>All students</h2>

	<% for (var i = 0; i < students.length; i++) { -%>
		<p><%= students[i]['FirstName']%> <%= students[i]['LastName']%> [<%= students[i]['Username']%>] </p>
	<% } -%>
</div>
<% include partials/footer %>