<% include partials/student_header %>
<div class="container">
   <h1>Modules</h1>
   <%if (student['Level'] == 5){%>
   <h2>Level <%= student['Level']%></h2>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Module</th>
            <th>Name</th>
            <th>Credits</th>
            <th>Year</th>
            <th>Result</th>
         </tr>
      </thead>
      <tbody>
         <% modules.forEach(function(module){ %>
         <tr>
            <td> <%= module['ModuleCode'] %> </td>
            <td> <%= module['ModuleName'] %> </td>
            <td> <%= module['NumberOfCredits'] %> </td>
            <td> <%= module['YearTaken'] %> </td>
            <td> <%= module['OverallResult'] %> </td>
         </tr>
         <% });%>
      </tbody>
   </table>
   <%} else {%>
   <% for (var i = student['Level']; i > 0; i--) { %>
   <h2>Level <%= i %> </h2>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Module</th>
            <th>Name</th>
            <th>Credits</th>
            <th>Year</th>
            <th>Result</th>
         </tr>
      </thead>
      <tbody>
         <% modules.forEach(function(module){ %>
         <% if ( (module['ModuleCode'].charAt(4) == i) ||
            (module['ModuleCode'].charAt(4) == 5 && i == 4) ) { -%>
         <tr>
            <td> <%= module['ModuleCode'] %> </td>
            <td> <%= module['ModuleName'] %> </td>
            <td> <%= module['NumberOfCredits'] %> </td>
            <td> <%= module['YearTaken'] %> </td>
            <td> <%= module['OverallResult'] %> </td>
         </tr>
         <%}%>
         <% });%>
      </tbody>
   </table>
   <% } %>
   <%}%>
</div>
<% include partials/footer %>