<% include partials/student_header %>
<div class="container">
	<%if (mark) {%>
		<h1>Mark for <%=cwk['ModuleCode']%> CWK <%=cwk['CourseworkNumber']%></h1>
		<table class="table table-striped table-hover table-student table-bordered">
      		<thead>
         		<tr>
         			<th>Weighting</th>
            		<th>Max Mark</th>
            		<th>Raw Mark</th>
            		<th>% Mark</th>
            		<th>% of Module</th>
         		</tr>
      		</thead>
      		<tbody>
         	<tr>
            	<td> <%= cwk['Weighting'] %> </td>
            	<td> <%= cwk['MaxMark'] %> </td>
            	<td> <%= mark['RawMark'] %> </td>
            	<td> <%=  mark['RawMark']*100/cwk['MaxMark']%> </td>
            	<td> <%= Math.round((cwk['Weighting'] *(mark['RawMark']*100/cwk['MaxMark']/100)) * 10) / 10%> </td>
         	</tr>
      		</tbody>
   		</table>
	<%} else {%>
		<h1>No marks entered for this Coursework!</h1>
	<%}%>
</div>
<% include partials/footer %>


Math.round( number * 10 ) / 10;
