<% include partials/student_header %>
<nav class="navbar bg-green">
   <div class="container-fluid">
      <ul class="nav navbar-nav">
         <li><a class = "text-white" href="/">Home</a></li>
         <li class="active"><a class = "text-green" href="/student/modules">Modules</a></li>
         <li><a class = "text-white" href="/student/coursework">Coursework</a></li>
         <li><a class = "text-white" href="/student/exams">Exams</a></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
         <a href="/logout" class="navbar-brand text-white"><strong>Logout</strong></a>
      </div>
   </div>
</nav>
<div class="container">
   <h1>Modules</h1>
   <%if (student['Level'] == 5){%>
   <h2>Level <%= student['Level']%></h2>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Module</th>
            <th>Name</th>
            <th>Credits</th>
            <th>Year</th>
            <th>Result</th>
         </tr>
      </thead>
      <tbody>
         <% modules.forEach(function(module){ %>
         <tr>
            <td> <%= module['ModuleCode'] %> </td>
            <td> <%= module['ModuleName'] %> </td>
            <td> <%= module['NumberOfCredits'] %> </td>
            <td> <%= module['YearTaken'] %> </td>
            <td> <%= module['OverallResult'] %> </td>
         </tr>
         <% });%>
      </tbody>
   </table>
   <%} else {%>
   <% for (var i = student['Level']; i > 0; i--) { %>
   <h2>Level <%= i %> </h2>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Module</th>
            <th>Name</th>
            <th>Credits</th>
            <th>Year</th>
            <th>Result</th>
         </tr>
      </thead>
      <tbody>
         <% modules.forEach(function(module){ %>
         <% if ( (module['ModuleCode'].charAt(4) == i) ||
            (module['ModuleCode'].charAt(4) == 5 && i == 4) ) { -%>
         <tr>
            <td> <%= module['ModuleCode'] %> </td>
            <td> <%= module['ModuleName'] %> </td>
            <td> <%= module['NumberOfCredits'] %> </td>
            <td> <%= module['YearTaken'] %> </td>
            <td> <%= module['OverallResult'] %> </td>
         </tr>
         <%}%>
         <% });%>
      </tbody>
   </table>
   <% } %>
   <%}%>
</div>
<% include partials/footer %>