<% include partials/student_header %>
<nav class="navbar bg-green">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a class = "text-green" href="/">Home</a></li>
      <li><a class = "text-white" href="/student/modules">Modules</a></li>
      <li><a class = "text-white" href="/student/coursework">Coursework</a></li>
      <li><a class = "text-white" href="/student/exams">Exams</a></li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      <a href="/logout" class="navbar-brand text-white"><strong>Logout</strong></a>
    </div>
  </div>
</nav>
<div class="container">
	<h1>Personal details:</h1>
	<p>Username: <%= student['Username']%></p>
	<p>First name: <%= student['FirstName']%></p>
	<p>Last name: <%= student['LastName']%></p>
	<p>Gender: <%= student['Gender']%></p>
	<p>Date of Birth: <%= student['DateOfBirth'].toString().substring(4,15) %></p>
	<p>Country of origin: <%= student['CountryOfOrigin']%></p>
	<p>Entry Year: <%= student['EntryYear']%></p>
	<p>Course: <%= course['Qualification']+', '+course['CourseName']%></p>
	<p>Level: <%= student['Level']%></p>
	<p>Registration status: <%= student['RegistrationStatus']%></p>
	<h2>Personal Tutor</h2>
	<p>First name: <%= academicstaff['FirstName']%></p>
	<p>Last name: <%= academicstaff['LastName']%></p>
	<p>Email: <%= academicstaff['Email']%></p>

</div>
<% include partials/footer %>